<div class="author-container">
  <div class="row" *ngIf="authorList.length > 0; else noData">
    <ng-container *ngFor="let author of favAuthors; trackBy:trackByFn">
      <div class="col-md-4">
        <app-author-list-item [data]="author" (onAddToFavt)="onChangeAddToFavt($event)"
          (onRemoveFavt)="onChangeRemoveFavt($event)"></app-author-list-item>
      </div>
    </ng-container>
  </div>
  <div class="row" *ngIf="authorList.length != 0">
    <div class="col-md-12" >
      <div class="pagination-wraper">
        <strong class="pagination-total">Total {{authorList.length}}</strong>
        <div class="pagination-right">
          <div class="btn-group float-right">
            <button *ngFor="let page of pageNumbers" (click)="changePage(page)" class="bs-btn bs-btn__squire"
              [class.active]="page == selectedPage">
              {{page}}
            </button>
          </div>
          <select class="pagination-page-size bs-input" [value]="itemPerPage" (change)="changePageSize($event)">
            <option *ngFor="let number of pageSizeInterVal" [value]="number">{{number}} Per Page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>
      <div class="text-center mt-5">
        <h1>Oops! No Favorite Data.</h1>
      </div>
  </ng-template>
</div>