<div class="card mb-3">
  <div class="card-header">
    <div class="text-right">
      <a (click)="data.isFav ? onClickRemoveFavt() :  onClickAddFav()">
        <span class="text-info add-fav">
          {{ data.isFav ? 'Remove Favt' : 'Add Favt' }}
        </span>
      </a>
    </div>
  </div>
  <div class="card-body author-body">
    <div class="form-group row">
      <label class="col-md-3">Name: </label>
      <div class="col-md-9">
        <label>{{data.name}}</label>
      </div>
      <label class="col-md-3">Link: </label>
      <div class="col-md-9">
        <label [title]="data.link">{{data.link}}</label>
      </div>
      <label class="col-md-3">Bio: </label>
      <div class="col-md-9">
        <label>{{data.bio}}</label>
      </div>
    </div>
  </div>
</div>