<div class="card mb-3">
  <div class="card-header">
    <div class="text-right">
      <a (click)="onClickAddFav()"><span class="text-info add-fav">Add fav</span></a>
    </div>
  </div>
  <div class="card-body author-body">
    <div class="form-group row">
      <label class="col-md-3">Name: </label>
      <div class="col-md-9">
        <label>{{data.name}}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3">Bio: </label>
      <div class="col-md-9">
        <label>{{data.bio}}</label>
      </div>
    </div>
  </div>
</div>